{% extends 'base.html' %}
{% block title %}Global Chat{% endblock %}
{% block jss %}
<script>
  let name = "{{ name }}"
  let profilePath = "https://raw.githubusercontent.com/lorem-ipsum-xyz/GlobalChat/refs/heads/main/static/profiles/"
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
{% block content %}
  <main class="container">
    
   <header>
     <div class="title">
       <h1>Global Chat</h1>
     </div>
     <div class="links">
       <ul>
         <li class="github"><a href="https://github.com/greegmon" target="_blank"><i class="fa-brands fa-github"></i></a></li>
         <li class="facebook"><a href="https://www.facebook.com/profile.php" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
       </ul>
     </div>
   </header>
   
   <div class="messages" id="MESSAGES">
     <!-- Messages here... -->
   </div>
   
   <div class="inputs">
     <input type="text" placeholder="Message" id='msg-input'>
     <button id="send"><i class="fa-solid fa-paper-plane"></i></button>
   </div>
   
 </main>
{% endblock %}
